* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: helvetica, arial, sans-serif;
}

#header {
  height: 70px;
  display: flex;
}

#etsyLogo {
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 52px;
  padding-top: 15px;
  color: #e16d36;
}

#headerInput {
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 80%;
  background-color: #efefef;
  outline: none;
  position: relative;
  border: 1px solid #cecece;
  padding-left: 15px;
  font-size: 16px;
}

#timesIcon {
  position: absolute;
  left: 1195px;
  top: 25px;
  color: #424242;
}

#timesIcon:hover {
  cursor: pointer;
}

#searchIcon {
  position: absolute;
  left: 1240px;
  top: 25px;
  color: #424242;
  cursor: pointer;
}

#header-list {
  display: flex;
}

.header-list-items {
  margin-top: 25px;
  margin-left: 25px;
  list-style: none;
  font-size: 14px;
}

.header-list-items:hover {
  border: solid 1px white;
  cursor: pointer;
}

#nav-bar {
  width: 100%;
  height: 34px;
  padding-left: 52px;
  padding-right: 52px;
  border-bottom: solid 2px #dedede;
}

#nav-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/* #everydayFinds {
  background-color: #dcdcdc;
} */

.nav-list-items {
  list-style: none;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 17px;
  padding-left: 25px;
  padding-right: 21px;
}

.nav-list-items:hover {
  border: solid 1px white;
}

/* li:hover {
  border: solid 1px black;
} */

/* .dropDown {
  width: 100%;
} */

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
  left: 0;
  top: 34px;
  
}

#anchorContainer {
  border-right: solid 1px #dedede;
  width: 30%;
}

#firstAnchor {
  font-weight: 500;
  
}

#dropC2 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC2 a {
  padding-top: 13px;
  
}

.anchorIcons {
  position: absolute;
  left: 385px;
}

#dropC2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 295px;
  width: 42%;
  position: absolute;
}

#dropC2Hide {
  /* display: none; */
  width: 42%;
  visibility: hidden;
  position: relative;
}

#dropC3 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

#dropC3 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC3 a {
  padding-top: 13px;
  
}

#dropC4 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

#dropC4 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC4 a {
  padding-top: 13px;
  
}

#dropC5 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
}

#dropC5 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC5 a {
  padding-top: 13px;
  
}

#dropC6 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
}

#dropC6 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC6 a {
  padding-top: 13px;
  
}

#dropC7 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}

#dropC7 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC7 a {
  padding-top: 13px;
  
}

#dropC8 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 240px;
}

#dropC8 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC8 a {
  padding-top: 13px;
  
}

#accessoriesShow:hover  #dropC2Hide {
  display: block;
}


#boldArrow {
  left:185px;
  top: 13px;
}

#boldArrow2 {
  left:95px;
  top: 13px;
}

.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 275px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropContent a:hover {
  background-color: #ddd;
}

.dropDown:hover .dropContent {
  display: block;
}

#containerBtns {
  display: flex;
}

#filterBtn {
  height: 40px;
  width: 90px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 20px;
  background-color: white;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
}

#sortBtn {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  padding-right: 15px;
  cursor: pointer;
}

#showContent {
  display: flex;
}
