/* FLEX CLASSES */

.direction-column{
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-space-between{
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

#main-container {
  width: 100%;
}


* {
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

* li{
  list-style-type: none;
}

* ul {
  font-size: .9rem;
}

* a {
  text-decoration: none;=
}



#nav-bar {
  /* border: 2px solid red; */
  /* height: 12rem; */
  margin: 1rem 3rem;
}
/* SEARCHBAR */

#signin {
  margin-left: auto;
}

#cart {
  margin: 0 1.5rem;
}

#searchbar {
  /* border: 2px solid red; */
  height: 4rem;
  align-items: center;
  
}

#searchbar img {
  height: 3rem;
}

#search {
  width: 70%;
}

#search input {
  width: 100%;
  height: 2.75rem;
  border-radius: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #ebebeb;
  /* box-shadow: inset 0 1; */
  border: none;
  padding: 0 1rem;
  outline-style: none;
}
/* NAV LINKS */
#navlinks {
  /* border: 2px solid red; */
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 0.75rem;
  text-decoration: none;
}

#navlinks a {
  text-decoration: none;
  color
}

#navlinks li {
  display: inline;
}

#cart{
  font-size: 1.25rem;
}


/* NAVBAR EXPAND */

#expandedcontainer{
  display: none;
  justify-content: center;
  font-size: .75rem;
  transition: max-height 1sec; 
  max-height: 19rem;
}

#expandedcontainer i{
  font-size: 22px;
  padding: auto 0;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}


#jewelryX{
  display: grid;
  grid-template-columns: 16rem auto 14rem;
  width: 90%;
  /* max-height: 18rem; */
  /* border: 2px solid green; */
  padding: 1rem;
  overflow: hidden;
}

#jewelryX li,
#jewelryX ul

{
 padding: .5rem ;
 margin: 0;
}

/* #jewelryX li:hover{
  background-color: lightgrey;
  
 } */

.col-1{
  /* border: 1px solid #222222; */
  padding: .5rem;
}

.col-1 div:hover{
  background-color: lightgrey;

}


.col-2{
  /* border: 1px solid #222222; */
  padding: .5rem;
  grid-column-start: 2;
  /* width: auto; */
}

.col-2 li:hover,
.col-2 ul:hover
{
  text-decoration: underline;
}

.col-2 ul{
  
  font-weight: bold;
}

#nav-bar .col-2 li{
  margin-left: 1rem;
  
}

.col-3{
  /* border: 1px solid #222222; */
  grid-column-end: 4;
  grid-row-start: 1;
}

#excard{
  /* border: 1px solid red; */
padding:.5rem;


}

#excard img{
width: 100%;
}

#excard ul{
  font-weight: bold;
}

#sub-col-2{
  margin-right: 4rem;
}
