* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-weight: lighter;
}

.container1 {
  display: flex;
  margin: 18px 38px;
}
#logo {
  width: 7%;

  margin-top: -4px;
}

input {
  width: 95%;
  height: 46px;
  border: 1px solid #d0d0d0;
  border-radius: 25px;
  background: #efefef;
  /* margin-top: 10px; */
  outline: none;
  padding: 23px;
}

section {
  position: relative;
  left: 13px;
}

#cart {
  width: 10%;
  margin-top: 10px;
  position: relative;
  top: 4px;
}

.nav-bar2 {
  margin: 10px 20px;
}

a {
  color: #363636;
  text-decoration: none;
  padding-right: 28px;
}
/* ul {
  padding: 0;
  list-style: none;
  background: white;
  display: flex;
  width: 100%;
  position: relative;
} */




#bottomNav {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.5s;
}

.cool-link:hover::after {
  width: 100%;
}

#firstNav {
  position: relative;
  top: 5px;
}

#muted-text {
  color: #949090;
}

.jewelerydropdown {
  position: relative;

  display: inline-block;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 850px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 350px;
}

.dropcontent a:hover {
  background-color: #ddd;
}

.jewelerydropdown:hover .dropcontent {
  display: block;
}

.accDropDown {
  /* position: relative; */
  display: inline-block;
  display: flex;
}
.acc-Flex {
  display: flex;
}

.subMenu {
  background-color: #f1f1f1;
  min-width: 500px;
}
.subMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 350px;
}

.subMenu a:hover {
  background-color: #ddd;
}

.accDropDown:hover .subMenu {
  display: block;
}

.acc-Flex {
  display: flex;
  flex-direction: column;
}

.insideContent {
  display: flex;
}
.left {
  border: 1px solid #dedede;
}
.middle {
  width: 500px;
}

#Accessories:hover .middle2 {
  display: block;
}

#alignWLink {
  position: relative;
  top: 5px;
}

li .cool-link {
  position: relative;
  top: 6px;
}

hr {
  border-top: 2px solid #dedede;
}

#icons {
  position: absolute;
  left: 357px;
}










button {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  outline: none;
}

#filters{
  width: 15px;
}

#sort {
  width: 12px;
}

/* grid products below */
.container2 {
  margin: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.products {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.products h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products img {
  width: 100%;
}

.products p {
  margin: 5px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#shipping {
  background-color: #d3e2d3;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

/* #footer-img {
    width: 100%;
} */
#footer {
  background-image: url("images/background.png");
  width: 100%;
  height: 500px;
}

h3 {
  font-weight: lighter;
  padding: 141px 260px;
}

#subscribe {
  
  width: 1000px;
    height: 12%;
    position: relative;
    top: -96px;
   
    left: 193px;
}
 .shop-sell-ftr{
  display: flex;
    justify-content: space-around;
    position: relative;
    top: 26px;
    color: white;
    font-size: 20px;
}

.shop-footer {
  position: relative;
}


#footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #1f203d;
  color: white;
  padding: 55px 245px;

  margin-top: -4px;
  position: relative;
  bottom: 50px;
  left: 14px;
}

.ftr {
  color: white;
}



.footer {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-top: 1px solid grey;
  /* position: absolute; */
  
  
}

.subscribe {
  text-align: center;
  padding: 90px 0;
  height: 250px;
}

.subscribe p {
  font-size: 18px;
  font-weight: bold;
}

.emailinput {
  width: 600px;
  border: 1px solid white;
  background-color: white;
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.emailbtn {
  position: relative;
  right: 110px;
  cursor: pointer;
  color: black;
  background: white;
  border: none;
  width: 100px;
  height: 36px;
  border-radius: 0 50px 50px 0;
  border: 1px solid white;
  font-size: 16px;
  outline: none;
  font-weight: bold;
}

.rows ul {
  padding-left: 0;
}
.rows {
  display: flex;
  justify-content: space-between;
  color: black;
  height: 400px;
  font-size: 16px;
  padding: 60px 130px 0 135px;

  color: white;
}
.row1,
.row2,
.row3,
.row4 {
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

ul #head {
  font-weight: bold;
  padding-bottom: 4px;
}

.download {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  background: transparent;
  border-radius: 20px;
  padding: 7px;
  color: white;
}

.media #icons2 {
  padding: 5px;
  font-size: 24px;
}
 ul li {
  list-style: none;
 }
 